body>.container {
    padding: 60px 15px 20px 15px;
}

@media screen and (max-width: 767px) {
    body>.container {
        padding-top: 25px;
    }
}

.splash {
    text-align: center;
    margin: 10% 0 0 0;
    box-sizing: border-box;
    .message {
        font-size: 72px;
        line-height: 72px;
        text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
        text-transform: uppercase;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    .glyphicon-refresh {
        text-align: center;
        display: inline-block;
        font-size: 72px;
        margin-top: 50px;
    }
    .glyphicon.spinning {
        animation: spin 1s infinite linear;
    }
    @keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }
        to {
            transform: scale(1) rotate(360deg);
        }
    }
}

.fa {
    &.fa-github {
        content: url(/images/github.png);
        width: 24px;
        margin-bottom: -2px;
        margin-right: -2px;
    }
}

.input-width-full {
    width: 100%;
}
